Repository dotnet/roslyn-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/analyzer-samples, @dotnet/roslyn-sdk

upating nuget package versions to be 2.8.2
  src/Templates/VS2017/ProjectTemplates/CSharp/CodeRefactoring/Ref/CodeRefactoring.csproj
  src/Templates/VS2017/ProjectTemplates/CSharp/ConsoleApplication/ConsoleApplication.csproj
  src/Templates/VS2017/ProjectTemplates/CSharp/Diagnostic/Analyzer/DiagnosticAnalyzer.csproj
  src/Templates/VS2017/ProjectTemplates/CSharp/Diagnostic/Test/Test.csproj
  src/Templates/VS2017/ProjectTemplates/VisualBasic/CodeRefactoring/Ref/CodeRefactoring.vbproj
  src/Templates/VS2017/ProjectTemplates/VisualBasic/ConsoleApplication/ConsoleApplication.vbproj
  src/Templates/VS2017/ProjectTemplates/VisualBasic/Diagnostic/Analyzer/Diagnostic.vbproj
  src/Templates/VS2017/ProjectTemplates/VisualBasic/Diagnostic/Test/UnitTestProject.vbproj
Owners: @dotnet/roslyn-sdk

adding newer version of Microsoft.CodeAnalysis.Analyzers
  src/Templates/VS2017/ProjectTemplates/CSharp/CodeRefactoring/Ref/CodeRefactoring.csproj
  src/Templates/VS2017/ProjectTemplates/CSharp/ConsoleApplication/ConsoleApplication.csproj
  src/Templates/VS2017/ProjectTemplates/CSharp/Diagnostic/Analyzer/DiagnosticAnalyzer.csproj
  src/Templates/VS2017/ProjectTemplates/CSharp/Diagnostic/Test/Test.csproj
  src/Templates/VS2017/ProjectTemplates/VisualBasic/CodeRefactoring/Ref/CodeRefactoring.vbproj
  src/Templates/VS2017/ProjectTemplates/VisualBasic/ConsoleApplication/ConsoleApplication.vbproj
  src/Templates/VS2017/ProjectTemplates/VisualBasic/Diagnostic/Analyzer/Diagnostic.vbproj
  src/Templates/VS2017/ProjectTemplates/VisualBasic/Diagnostic/Test/UnitTestProject.vbproj
Owners: @dotnet/roslyn-sdk

sorting and pinning version
  src/Templates/VS2017/ProjectTemplates/CSharp/CodeRefactoring/Ref/CodeRefactoring.csproj
  src/Templates/VS2017/ProjectTemplates/CSharp/ConsoleApplication/ConsoleApplication.csproj
  src/Templates/VS2017/ProjectTemplates/CSharp/Diagnostic/Analyzer/DiagnosticAnalyzer.csproj
  src/Templates/VS2017/ProjectTemplates/CSharp/Diagnostic/Test/Test.csproj
  src/Templates/VS2017/ProjectTemplates/VisualBasic/CodeRefactoring/Ref/CodeRefactoring.vbproj
  src/Templates/VS2017/ProjectTemplates/VisualBasic/ConsoleApplication/ConsoleApplication.vbproj
  src/Templates/VS2017/ProjectTemplates/VisualBasic/Diagnostic/Analyzer/Diagnostic.vbproj
  src/Templates/VS2017/ProjectTemplates/VisualBasic/Diagnostic/Test/UnitTestProject.vbproj
Owners: @dotnet/roslyn-sdk

updating vssdk to use Microsoft.CodeAnalysis.Workspaces.MSBuild
  src/Templates/VS2017/ProjectTemplates/CSharp/ConsoleApplication/ConsoleApplication.csproj
  src/Templates/VS2017/ProjectTemplates/CSharp/ConsoleApplication/Program.cs
  src/Templates/VS2017/ProjectTemplates/VisualBasic/ConsoleApplication/ConsoleApplication.vbproj
  src/Templates/VS2017/ProjectTemplates/VisualBasic/ConsoleApplication/Module1.vb
Owners: @dotnet/roslyn-sdk

fixing indentation and removing unnecessary parenthesis
  src/Templates/VS2017/ProjectTemplates/CSharp/ConsoleApplication/Program.cs
  src/Templates/VS2017/ProjectTemplates/VisualBasic/ConsoleApplication/Module1.vb
Owners: @dotnet/roslyn-sdk

Added test generator for C# and VB.
  README.md
  Roslyn-SDK.sln
  build/Versions.props
  src/Templates/VS2017/Roslyn.SDK.VS2017.csproj
  src/Tools/SyntaxVisualizer/Roslyn.SyntaxVisualizer.Control/Roslyn.SyntaxVisualizer.Control.csproj
  src/Tools/SyntaxVisualizer/Roslyn.SyntaxVisualizer.Control/SyntaxVisualizerControl.xaml
  src/Tools/SyntaxVisualizer/Roslyn.SyntaxVisualizer.Control/SyntaxVisualizerControl.xaml.cs
  src/Tools/SyntaxVisualizer/Roslyn.SyntaxVisualizer.DgmlHelper/Resources.Designer.vb
  src/Tools/SyntaxVisualizer/Roslyn.SyntaxVisualizer.Extension/Roslyn.SyntaxVisualizer.Extension.csproj
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-sdk

Update namespace.
  src/Tools/SyntaxVisualizer/Roslyn.SyntaxVisualizer.Control/SyntaxVisualizerControl.xaml.cs
Owners: @dotnet/roslyn-sdk

Updates for control flow api changes.
  build/Versions.props
  src/Templates/VS2017/Roslyn.SDK.VS2017.csproj
  src/Tools/SyntaxVisualizer/Roslyn.SyntaxVisualizer.Control/SyntaxVisualizerControl.xaml.cs
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-sdk

Update package versions for this branch.
  build/Versions.props
  build/build.ps1
Owners: @dotnet/roslyn-infrastructure

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.groovy @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
build/ @dotnet/roslyn-infrastructure
samples/ @dotnet/analyzer-samples
src/ @dotnet/roslyn-sdk
