Repository dotnet/roslyn-sdk, pull requests merged in 2020-07, with the labels that each got.

#538 Add Mustache generator sample
  eng/Versions.props
  samples/CSharp/SourceGenerators/GeneratedDemo/Cars.csv
  samples/CSharp/SourceGenerators/GeneratedDemo/GeneratedDemo.csproj
  samples/CSharp/SourceGenerators/GeneratedDemo/People.csv
  samples/CSharp/SourceGenerators/GeneratedDemo/Program.cs
  samples/CSharp/SourceGenerators/GeneratedDemo/UseCsvGenerator.cs
  samples/CSharp/SourceGenerators/GeneratedDemo/UseMustacheGenerator.cs
  samples/CSharp/SourceGenerators/SourceGeneratorSamples/AutoNotifyGenerator.cs
  samples/CSharp/SourceGenerators/SourceGeneratorSamples/CSVGenerator.cs
  samples/CSharp/SourceGenerators/SourceGeneratorSamples/CSVGenerator.props
  samples/CSharp/SourceGenerators/SourceGeneratorSamples/MustacheGenerator.cs
  samples/CSharp/SourceGenerators/SourceGeneratorSamples/SourceGeneratorSamples.csproj
  samples/Shared/UnitTestFramework/Roslyn.UnitTestFramework.csproj
Labels: Area-Source Generators

#571 Determine the number of Fix All in Document iterations from context
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.CodeFix.Testing/CodeFixTest`1.cs
  tests/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.CodeFix.Testing.UnitTests/CodeFixIterationTests.cs
Labels: Area-MS.CA.Testing

#570 Improve handling of markup locations
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/SolutionState.cs
  tests/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing.UnitTests/AdditionalFilesTests.cs
  tests/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing.UnitTests/MarkupTests.cs
Labels: Area-MS.CA.Testing

#569 Automatically detect generated code configuration
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/AnalyzerInfo.cs
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/AnalyzerTest`1.cs
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/TestBehaviors.cs
  tests/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing.UnitTests/AutoExclusionTests.cs
Labels: Area-MS.CA.Testing

#568 Add arcade publishing step
  .vsts-ci.yml
  eng/Signing.props
Labels: Area-Infrastructure
